@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.Container {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register_input {
  margin-left: 10px;
  margin-right: 10px;
}
.about {
  /* height: 100vh; */
  /* background-color: rgb(255, 255, 255); */
  /* background-image: url("https://data.whicdn.com/images/307717914/original.png"); */
  background-position: center; /* Center the image */
}
.about h1 {
  color: black;
  text-align: center;
  margin-top: 30px;
  font-family: "Montserrat";
}
.page {
  margin: 0;
  padding: 0;
}
.spacing {
  margin: 0;
  padding: 0;
}

.ava {
  height: 400px;
}
.about_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  color: whitesmoke;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 3px;
  background-color: black;
  height: 6vh;
}
/* 
FIX LAI CHO NAY VI TI NUA THEM FOOTER NUA
this suppose to be copyright
*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 50px;
}
.icon-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 100px;
  position: absolute;
  top: 0;
  pointer-events: none;
  /* Kho hieu vcl */
}
.home_page {
  margin: 0;
  padding: 0;
  height: 120vh;

  background-image: url("./bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main_page_logo {
  height: 100%;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.main_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav_bar {
  min-height: 5vh;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #333236;
}
.left_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  font-size: larger;
  /* background-color: rgb(32, 17, 17); */
}
.nav_bar_links {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  /* background-color: rgb(32, 17, 17); */
}
.nav_bar_links li {
  list-style: none;
  align-items: center;
  display: flex;
}
.nav_bar_links span {
  letter-spacing: 1px;
  font-weight: bold;
}
.logo {
  width: 300px;
}
.logo_cart {
  width: 30px;
}
.logo_user {
  width: 30px;
}
.img_bg {
  /* position: absolute; */
  height: 80%;
  background-image: url("./minhmeoblacknwhite.png");
  /* opacity: 0.8; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.join_us_nav {
  background-color: #ef760b !important;

  /* background-color: #ff5b16 !important; */
}
.join_us_content {
  letter-spacing: 3px;
  color: black;
  text-decoration: dashed;
  width: 100%;
}
.no_padding {
  padding: 0px;
  min-height: 180vh;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    144deg,
    rgba(255, 255, 255, 1) 16%,
    rgba(255, 220, 220, 1) 89%,
    rgba(226, 157, 62, 1) 100%,
    rgba(255, 0, 0, 1) 100%
  ); */
}
.blog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._blog {
  width: 100%;
}
.featured {
  padding: 0px 45px;
}
.featured_item {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.product-img {
  width: 450px;
}
.sizes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 30px;
  height: 30px;
}
.sizes_contain {
  display: flex;
}
.product-lists {
  display: flex;
}
.product-imgg {
  width: 100%;
}
.collapse {
  height: 100%;
}
.Nav_bar_Col {
  display: flex;
  flex-direction: row;
}
.sign_in_as {
  display: flex;
  flex-direction: column;
}
.sign_in_button {
  background: bottom;
  color: aliceblue;
}

button#user-button {
  background-color: transparent;
  border: none;
}
.carts {
  margin-left: 15px;
}

.jumbo_blog_merch {
  background-image: url("https://i.pinimg.com/originals/15/26/ba/1526ba78cd34f1638ed6e9cc352aff35.jpg");
  background-position: bottom;
  background-size: cover;
}
.jumbo_blog_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://pbs.twimg.com/media/C5j7s96VMAAZOlS.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.big_text_jumbo {
  color: white;
  font-size: 100px;
  letter-spacing: 3px;
  font-family: "Lobster";
  margin-top: 15px;
  padding-top: 15px;
  width: fit-content;
}
.no_decor_italics a {
  text-decoration: none;
  color: darkgray;
}
.jumbo_blog_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://www.courtsoftheworld.com/blog/wp-content/uploads/2020/06/Venice-Beach-unsplash-scaled.jpg");
  background-position: bottom;
  background-size: cover;
}
/* https://pbs.twimg.com/media/C5j7s96VMAAZOlS.jpg */
.jumbo_blog_merch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.complex.com/complex/images/c_crop,h_807,w_1435,x_5,y_3/c_fill,f_auto,g_center,w_1200/fl_lossy,pg_1/eaev69ko4cboprpmmzv8/kanye-merch-lead");
  background-position: center;
  background-size: auto;
}
.loading_body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./loading.gif);
}
.jumbo_blog_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.budgettravel.com/_seoImage/foreign-currency.jpg?mtime=20190709095321");
}
.button_control {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search_bar {
  margin-top: 15px;
}
.width {
  width: 100%;
}
.jumbo_blog_favo {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://sportshub.cbsistatic.com/i/r/2020/08/19/4559ecf3-1fff-444f-8da5-4d11d99d18fc/thumbnail/1200x675/3e0c5a605832b112d8317f43952e0610/college-basketball-balls.jpg");
  background-position: center;
  background-size: cover;
}
.remove_button {
  background-color: transparent !important;
  border: none;
}
span:hover {
  cursor: pointer;
}
.voting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
}
h5 {
  font-size: 29px;
  color: white !important;
  font-family: "Permanent Marker", cursive;
}
.Dribbling {
  height: 200px;
  width: 100%;
  background-image: url("https://d33wubrfki0l68.cloudfront.net/8a51fe0df867747ca82b7c5d0f0079e5c3dec0ac/dab86/files/2013/05/nba-american-basketball-miami-heat-dwyane-wade-la-lakers-kobe-bryant.jpg");
  background-position: right;
  background-size: cover;
  color: wheat;
  margin: 15px 15px;
}
.Shooting {
  height: 200px;
  width: 100%;
  background-color: turquoise;
  background-image: url("https://d3j2bju5c7tc02.cloudfront.net/2017_41/cropped-dreamstime_s_14204675.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
  margin: 15px 15px;
}
.Screens {
  height: 200px;
  width: 100%;
  background-image: url("https://upl.stack.com/wp-content/uploads/2012/12/Ball-Screen-629x498.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
  margin: 15px 15px;
}
.Situations {
  height: 200px;
  margin: 15px 15px;
  width: 100%;
  background-image: url("https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/124570327_278255083610879_8783473717464006921_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=iNYFoKygSDcAX9XQQgN&_nc_ht=scontent.fvca1-1.fna&oh=0d343ad42013fae4dddfd19913a84716&oe=5FD4FB62");
  background-position: center;
  background-size: cover;
  color: wheat;
}
.Isolation {
  height: 200px;
  margin: 15px 15px;
  width: 100%;
  background-image: url("https://scontent.fvca1-2.fna.fbcdn.net/v/t1.15752-9/s2048x2048/124616462_4954969911180609_6407020199027990096_n.jpg?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=_1XcasXB3yUAX90Ordb&_nc_ht=scontent.fvca1-2.fna&tp=7&oh=485a612dab7c32061b74eb4a86b78c31&oe=5FD39654");
  background-position: center;
  background-size: cover;
  color: wheat;
}
.Finishing {
  height: 200px;
  margin: 15px 15px;

  width: 100%;
  background-image: url("https://mk0basketballhq3nk0m.kinstacdn.com/wp-content/uploads/2016/06/Wizards-Cavaliers-Bas_News.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
}
.HoopCourt {
  height: 200px;
  margin: 15px 15px;

  width: 100%;
  background-image: url("https://i.pinimg.com/originals/03/07/99/030799e840098100ba59113b2971392b.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
}
.Story {
  height: 200px;
  margin: 15px 15px;

  width: 100%;
  background-image: url("https://lsusports.net/images/2017/9/10/RFUWXQJIAIYOGZZ.20170910043421.jpg");
  background-position: center;
  background-size: cover;
  color: wheat;
}
.category_overlay {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100%;
  background-color: rgba(138, 138, 138, 0.432);
}
.jumbo_blog_category {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://miro.medium.com/max/2600/0*AaT8J6KjeATs8hBP.");
  background-position: center;
  background-size: cover;
}
.no_padding_card {
  padding: 0 !important;
}
